div {
  width: 100px;
  float: left;
}

/*
#one {
  background-color: red;
}

#two {
  background-color: purple;
} */

img {
  width: 30%;
  float: left;
  margin: 1.66%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1.66%;
  border: 1px underline #ddd;
}
